<header id="header" class="header">
    <h3><span class="">mp.</span><br></h3>
    <h1 class="state__init"><span class="baffle-it">Mikhail</span><br><span class="baffle-it">Plakhotya</span><br></h1>

    <div id="headerMain" class="header__main state__init">
        <h2>Front-end developer</h2>
    </div>

    <div class="header__contacts">
        <h2>Contact<span class="letter-capt">C</span></h2>

        <ul class="header__contacts-list">
            <li class="grey thin">Kharkov. Ukraine</li>
            <li><a href="tel:+380957277351">+380 95 727 73 51</a></li>
            <li><a href="https://www.linkedin.com/in/mikhail-plakhotya" target="_blank">www.linkedin.com/in/mikhail-plakhotya</a></li>
            <li><a href="mailto: mikhail.ukraine@gmail.com">mikhail.ukraine@gmail.com</a></li>
            <li><a href="skype:[mikhail_plahotya]?call">skype: mikhail_plahotya</a></li>
        </ul>

        <div class="header__contacts-btn reverse-btn" id="hireBtn">
            Hire me
        </div>

    </div>

</header>