<section id="skills" class="skills">

    <div id="skillsImgWrap" class="skills__photo-wrap">

        <img id="skillsImg" data-src1="img/sur_1.png" data-src2="img/sur_2.png" data-src3="img/sur_3.png" src="img/sur_1.png" alt="">

    </div>

    <div class="skills__wrap">

        <div class="skills__block">
            <h3>About Me <span class="letter-capt">A</span></h3>
            <p class="black">I’m a front-end developer located in Kharkiv, Ukraine.</p>
            <p>I have 3 years of professional (and one more year as a hobby) experience in website development and E-commerce solutions based on technologies like HTML5, CSS3, Java Script, PHP, etc.</p>
            <div class="strip"></div>
        </div>

        <div class="skills__block">
            <h3>Summary of Skills <span class="letter-capt">S</span></h3>

            <ul class="skills__block__ul">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, praesentium!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa ducimus enim maiores molestiae natus nihil nobis numquam quasi veritatis!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi iure numquam quos repellat ullam veniam.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, cupiditate, saepe.</li>
            </ul>
            <div class="strip"></div>

        </div>

        <div class="skills__block core-skills">
            <h3>Core Skills <span class="letter-capt">C</span></h3>

            <div class="skills__block__core">
                <h4>Tooling / Workflow</h4>
                <ul>
                    <li>Git</li>
                    <li>Gulp</li>
                    <li>Webpack</li>
                    <li>npm, bower, gem, yarn</li>
                </ul>
            </div>

            <div class="skills__block__core">
                <h4>Project Management</h4>
                <ul>
                    <li>Remote Working</li>
                    <li>Work directly with the client</li>
                    <li>Agile Scrum</li>
                    <li>Agile Kanban</li>
                </ul>
            </div>

            <div class="skills__block__core full-width">
                <h4>Architecture</h4>
                <ul>
                    <li>Coding Conventions and Guidelines: HTML, CSS (BEM, ITCSS), JavaScript (Idiomatic JS)</li>
                    <li>Component-based development</li>
                    <li>Performance-budget driven development</li>
                    <li>Agile driven development</li>
                </ul>
            </div>

            <div class="skills__block__core full-width">
                <h4>Development</h4>
                <ul>
                    <li>JavaScript</li>
                    <li>HTML(5)<span class="blue">:</span> [ Jade(PUG), Handlebars, Liquid ]</li>
                    <li>CSS(3)<span class="blue">:</span> [ Sass, Stylus, PostCSS, Bourbon, ...]</li>
                    <li>CSS Frameworks<span class="blue">:</span> [ Bootstrap, Foundation, MDL, ... ]</li>
                    <li>JS libraries and frameworks</li>
                    <li>CMS: [ MODx, Webasyst, Jekyll, ... ]</li>
                    <li>UI/UX</li>
                    <li>Performance optimization</li>
                    <li>SEO</li>

                </ul>
            </div>

        </div>


        <div class="skills__block">
            <h3>Work Experience <span class="letter-capt">W</span></h3>
            <p class="black">I’m a front-end developer located in Kharkiv, Ukraine.</p>
            <p>I have 3 years of professional (and one more year as a hobby) experience in website development and E-commerce solutions based on technologies like HTML5, CSS3, Java Script, PHP, etc.</p>
            <div class="strip"></div>
        </div>


        <div class="skills__block">
            <h3>Education <span class="letter-capt">E</span></h3>
            <p class="black">I’m a front-end developer located in Kharkiv, Ukraine.</p>
            <p>I have 3 years of professional (and one more year as a hobby) experience in website development and E-commerce solutions based on technologies like HTML5, CSS3, Java Script, PHP, etc.</p>
        </div>

    </div>

</section>