// colors

$colorBlue: #022eed;
$color-1: #3d385a; // Martinique
$color-2: #ea4a55; // Mandy
$color-3: #ffffff; // White

// fonts 

$primary-font: "Helvetica", serif;
$secondary-font: "Arial Black", "Helvetica", sans-serif;