.header {

  width: 100%;
  height: 100vh;

  h1.state__init {
    letter-spacing: -8px;
    z-index: 4;
  }

  h1,h2,h3 {
    text-transform: uppercase;
  }
  &>h1,
  &>h3 {
    font-family: $secondary-font;
    display: block;
    position: absolute;
    text-align: left;
    left: 5%;
    letter-spacing: 0;
    transition: letter-spacing .3s;

    &::after {
      content: "";
      display: inline-block;
      height: 7px;
      width: 36px;
      background: $colorBlue;
      position: relative;
    }
  }
  &>h3 {
    position: absolute;
    font-size: 6rem;
    line-height: .85;
    top: 5%;
    text-indent: -4px;
    &::after {
      top: -17px;
    }
  }
  &>h1 {
    position: absolute;
    bottom: 20%;
    font-size: 3rem;
    line-height: 1.1;
    z-index: 6;
    span {
      position: relative;
      left: -3px;
    }
  }

  &__main {

    border: 10px solid $colorBlue;
    position: absolute;
    text-align: center;
    background: #FFF;

    height: 90%;
    width: calc(45% - 170px);

    left: calc(5% + 170px);
    top: 5%;

    z-index: 5;
    transition: all 1.5s;

    &::after {
      content: "";
      width: 10px;
      height: 50px;
      background: #000;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -5px;
    }

    &.state__init {

      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      margin: 0;

    }

    h2 {
      position: absolute;
      width: 100%;
      top: 40%;
      left: 0;
      text-align: center;
      font-family: $bold;
      font-size: 1.6rem;
    }

  }

  &__contacts {
    position: relative;
    float: right;
    width: 30%;
    margin-right: 5%;
    padding-top: 11px;

    height: 60vh;
    margin-top: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-family: $ultra;
      font-size: 2.4rem;

      
    }

    &-list {

      border-bottom: 4px solid $colorBlue;

      li {
        margin-bottom: 20px;
        font-family: $bold;
        position: relative;

        a {
          color: #000;
          position: relative;
          
          i {
            position: absolute;
            left: -30px;
          }
        }

        &.thin {
          font-family: $regular;
        }
      }
    }

    &-btn {

      //width: 200px;
      cursor: pointer;
      padding: 0 20px;
      background: #000;
      color: #FFF;
      text-transform: uppercase;
      font-family: $ultra;
      height: 50px;
      line-height: 50px;
      font-size: 2.4rem;
      letter-spacing: 2px;

    }

  }

}